
@font-face {
	font-family: 'FonteMenu';
	src: url("../_fonts/FonteMenu.ttf");
}

@font-face {
	font-family: 'FonteBotão';
	src: url("../_fonts/FonteBotão.ttf");
}

@font-face {
	font-family: 'FonteDescrição';
	src: url("../_fonts/FonteDescrição.ttf");
}

nav#menu ul {
	font-family: 'FonteMenu';
	text-transform: uppercase;
	justify-content: center;
	text-align: center;
	margin-top: 10px;
	padding: 0px;
	width: 100%;
}

nav#menu li {
	display: inline-block;
	text-align: center;
	background-color: #bbdcf2;
	padding: 20px;
	width: 260px;
	border-radius: 10px;
	border-style: groove;
}

nav#menu li:hover {
	background-color: #ada6d7;
	transition: 2s;
}

a {
	text-decoration: none;
}

body {
	background: url("../_imagens/wallpaper/oceano1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.desc {
	background-color: rgb(202, 216, 227);
	text-align: justify;
	font-family: 'FonteDescrição';
	padding: 20px;
	opacity: 0%;
	min-width: 250px;
	max-width: 880px;
	margin: 0px;
}
	
#but2 {
	opacity: 0%;
}

#but3 {
	opacity: 0%;
}

#but4 {
	justify-content: center;
	text-align: center;
	border-radius: 1px;
	border-style: double;
	opacity: 0%;
	margin: 25px;
}

td {
	justify-content: center;
	text-align: center;
}

.botão {
	font-family: 'FonteBotão';
	margin: 25px;
	padding-left: 75px;
	padding-right: 75px;
	padding-bottom: 0px;
	padding-top: 0px;
	font-size: 30px;
	border-radius: 10px;
	border-style: double;
}

.botão:hover {
	background-color: #ada6d7;
	transition: 1s;
}

.plus {
	justify-content: center;
	text-align: center;
	border-radius: 1px;
	border-style: double;
	margin-top: 10px;
}

.plus:hover {
	background-color: #ada6d7;
	transition: 1s;
}

nav#conteudo table {
	justify-content: center;
	text-align: center;
	display: flex;
}

