
@font-face {
	font-family: 'FonteMenu';
	src: url("../_fonts/FonteMenu.ttf");
}

@font-face {
	font-family: 'FonteMarinha';
	src: url("../_fonts/FonteMarinha.ttf");
}

nav#menu ul {
	font-family: 'FonteMenu';
	list-style: none;
	text-transform: uppercase;
	
	justify-content: center;
	text-align: center;
	top: 0px;
	margin-top: 10px;
	padding: 0px;
	width: 100%;
}

nav#menu li {
	display: inline-block;
	text-align: center;
	background-color: #bbdcf2;
	padding: 20px;
	width: 260px;
	border-radius: 10px;
	border-style: groove;
}

nav#menu li:hover {
	background-color: #ada6d7;
	transition: 2s;
}

a {
	text-decoration: none;
}

body {
	background: url("../_imagens/wallpaper/oceano2.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

h1 {
	background-color: rgb(213, 229, 224);
	left: 500px; 
	text-align: center;
	border-style: ridge;
	border-radius: 25px;
	margin: 25px;
	opacity: 0%;
	font-family: 'FonteMarinha';
}

img {
	width: 300px;
	height: 400px;
}

.almi:hover {
	opacity: 75%;
}

table {
	display: inline-block;
	justify-content: center;
	text-align: center;
	margin: 25px;
}

td {
	width: 300px;
	margin: 0px;
	padding: 0px;
	display: inline-block;
}

#blocoAlmi {
	justify-content: center;
	text-align: center;
}