
@font-face {
	font-family: 'FonteMenu';
	src: url("../_fonts/FonteMenu.ttf");
}

nav#menu ul {
	font-family: 'FonteMenu';
	text-transform: uppercase;
	justify-content: center;
	text-align: center;
	margin-top: 10px;
	width: 100%;
	top: 0px;
	padding: 0px;
}

nav#menu li {
	display: inline-block;
	text-align: center;
	background-color: #bbdcf2;
	padding: 20px;
	width: 260px;
	border-radius: 10px;
	border-style: groove;
}

nav#menu li:hover {
	background-color: #ada6d7;
	transition: 2s;
}

a {
	text-decoration: none;
}

html {
	background: url("../_imagens/wallpaper/oceano3.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.cards {
	width: 150px;
	height: 250px;
	margin: 10px;
}

.cards:hover {
	zoom: 170%;
}

td {
	justify-content: center;
	text-align: center;
	display: inline-block;
}

table {
	width: 100%;
	justify-content: center;
	text-align: center;
}
